@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_layout_display.cshtml";
}
<style>
    .dn {
        width: 400px;
        margin: auto;
        margin-top: 100px;
    }

        .dn h3 {
            text-align: center;
        }

        .dn label {
            margin-left: 45px;
        }

    .submit-button {
        text-align: center;
    }

    .forget-password {
        text-align: center;
    }

    .main-btn {
        padding: 15px;
        border-radius: 10px;
        text-align: center;
    }

    .loi {
        float: left;
        padding: 8px 5px;
        font-size: 20px;
        color: red;
    }

    .input-feild {
        float: left;
        margin-left: 45px;
    }
    .txtDiachi {
        clear:both;
        margin-left: 45px;
        width:271px;
        height:90px!important;
        float:left
    }
</style>

<div class="primari-box registered-account dn">
    <form class="new-account-box" id="accountLogin" method="post" action="#">
        <h3 class="box-subheading">Đăng ký thành viên</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div class="form-content">
                <div class="form-group primary-form-group">
                    <label for="loginemail">Họ tên khách hàng</label>
                    @*<input type="text" value="" name="email" id="loginemail" class="">*@
                    @Html.TextBox("TenKhach", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi1"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Tên đăng nhập</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.TextBox("TenDN", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi2"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Mật khẩu</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.Password("MatKhau", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi3"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Nhập lại mật khẩu</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.Password("NhapLaiMatKhau", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi4"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Email</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.TextBox("Email", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi5"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password" >Giới tính</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    <div class="radiobtn" style="text-align:center">
                        @Html.RadioButton("rdGioiTinh", "Nam",true) Nam
                        @Html.RadioButton("rdGioiTinh", "Nữ") Nữ
                    </div>
                   
                    
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Địa chỉ</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.TextArea("DiaChi", null, new { @class = "txtDiachi" })
                    <span class="loi">@ViewData["Loi6"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Số điện thoại</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.TextBox("SoDT", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi7"]</span>
                </div>
                <div class="form-group primary-form-group">
                    <label for="password">Ngày sinh</label>
                    @*<input type="password" value="" name="password" id="password" class="form-control input-feild">*@
                    @Html.TextBox("NgaySinh", null, new { @class = "form-control input-feild" })
                    <span class="loi">@ViewData["Loi8"]</span>
                </div>
               
                <div>
                    <h4 style="color:red;text-align:center">@ViewBag.Thongbao</h4>
                </div>
                <div class="forget-password">
                    <p><a href="@Url.Action("DangNhap","NguoiDung")">Đã có tài khoản! Đăng nhập</a></p>
                </div>
                <div class="submit-button">
                    <input type="submit" value="Đăng ký" id="signinCreate" class="btn main-btn" />
                </div>


            </div>

        }
        </form>
    @if (ViewBag.Mess != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert(" @Html.Raw(ViewBag.Mess) \n  @Html.Raw(ViewBag.Mess1) \n  @Html.Raw(ViewBag.Mess2) \n  @Html.Raw(ViewBag.Mess3) \n  @Html.Raw(ViewBag.Mess4) \n  @Html.Raw(ViewBag.Mess5) \n  @Html.Raw(ViewBag.Mess6) \n  @Html.Raw(ViewBag.Mess7) \n  @Html.Raw(ViewBag.Mess8) \n ");
            };
        </script>
    }
        </div>
